* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #160E25;
    min-width: 500px;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #E72C33;
    color: #F0E4CE;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 20px;
}

.nav--logo {
    height: 24px;
    margin-left: auto;
}

.nav--title {
    margin-right: auto;
    margin-left: 8px;
}

/*card container overall styles*/

.card--container {
    display: flex;
    max-height: 168px;
}

.card--divider {
    height: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 85%;
    border: 0.5px solid #652F4F;

}

/*card image styles*/

.location-img {
    max-width: 125px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 36px;
}

/*card location deatils and map link*/

.map-icon {
    width: 8px;
}

.card--location--details {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.location--state {
    color:#F0E4CE;
    font-size: 12px;
    font-weight: 400px;
    padding-left: 6px;
}

.location--link {
    font-size: 13px;
    font-weight: 400px;
    padding-left: 12px;
    color: #918E9B;
}

/*card details -- title, dates, and description*/
.card--location--text {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.card--title {
    color: #F0E4CE;
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card--date {
    color: #F0E4CE;
    font-size: 10.24px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.card--description {
    color: #F0E4CE;
    font-size: 10.24px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 8px;
}
