body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    background-image: linear-gradient(rgb(231, 129, 245), rgb(255, 182, 80));
}

#container {
    margin: 12px;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 2px solid #000000;
    box-shadow: 5px 5px #000000;
}

textarea {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #d3b9d9;
    border-radius: 0px;
    resize: none;
}

textarea:focus {
    outline: none;   
    border: 2px solid #761c8d;
    border-radius: 0px;
}

label {
    display: inline-block;
    text-align: left;
    margin-top: 12px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #d3b9d9;
    border-radius: 0px;
}

input:focus {
    outline: none;   
    border: 2px solid #761c8d;
    border-radius: 0px;
}


p {
    padding-top: 10px;
    padding-left: 2px;
}


button {
    color: whitesmoke;
    background-color: #761c8d;
    border: 2px solid #000000;
    border-radius: 0px;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top:12px;
    margin-bottom: 12px;
    font-weight: bold;
    width: 100%;
}

button:hover {
    margin-top: 9px;
    margin-left: -5px;
    margin-bottom: 15px;
    box-shadow: 3px 3px #000000;
    border-radius: 0px;
}

#delete-btn {
    margin-top: 0px;
    background-color: whitesmoke;
    color: #761c8d;
}

#get-url-btn {
    margin-top: 0px;
}


ul {
    margin-top: 16px;
    list-style: none;
    padding-left: 8px;
}

li {
    margin-top: 8px;
}

li a {
    color: #7e217c;
}


th {
    text-align: left;
    border-bottom: 1px solid #d3b9d9;
    padding-bottom: 6px;
}

td {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d3b9d9;
    overflow: hidden;
}

table {
    table-layout: fixed;
    white-space: nowrap;
}
