body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    background-image: linear-gradient(rgb(231, 129, 245), rgb(255, 182, 80));
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 8px;
    opacity: 80%;
    margin-top: -12px;
}
p {
    padding-top: 10px;
    padding-left: 2px;
}


button {
    color: whitesmoke;
    background-color: #53073a;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top:12px;
    margin-bottom: 12px;
    font-weight: bold;
    width: 100%;
}

button:hover {
    margin-top: 9px;
    margin-left: -3px;
    margin-bottom: 15px;
    box-shadow: 3px 3px #000000;
}

ul {
    margin-top: 16px;
    list-style: none;
    padding-left: 8px;
}

li {
    margin-top: 8px;
}

li a {
    color: #2b0328;
}

#list-heading {
    margin-top: -8px;
}